{% set parts = content | split("<!--split-->") %}
<!DOCTYPE HTML>
<html>
	<head>
		<meta charset="UTF-8">
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
		<title>{{ title }}</title>
		<link rel="stylesheet" href="{{ '/style.css' | url }}">
		<link href="https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap" rel="stylesheet">
		<link href="https://fonts.googleapis.com/css2?family=Onest" rel="stylesheet">
		<link href="https://fonts.googleapis.com/css2?family=Abril+Fatface&display=swap" rel="stylesheet">
		<link href="https://fonts.googleapis.com/css2?family=Playfair+Display:ital,wght@0,400..900;1,400..900&display=swap" rel="stylesheet">
		<link href="https://fonts.googleapis.com/css2?family=Roboto+Condensed:ital,wght@0,100..900;1,100..900&display=swap" rel="stylesheet">
		<link href="https://fonts.googleapis.com/css2?family=Raleway:ital,wght@0,100..900;1,100..900&display=swap" rel="stylesheet">
		<link href="https://fonts.googleapis.com/css2?family=Cormorant+Garamond:ital,wght@0,300..700;1,300..700&display=swap" rel="stylesheet">

		<style>
			.coverimg {
			        position:relative;
			        background-color:{{ colour }};
			        background-image:url({{ image | url }});
					background-repeat:no-repeat;
					background-size:cover;
					background-position:center;
			        width:100%;
			        height:70%;
			}
		</style>
	</head>
	<body>
		<div class="mbody">
			<div class="rightflipper">
				<div id="cover">
					<div class="title">
						<h1>PROGRAMME</h1>
						<p>Turner Fenton Secondary School</p>
					</div>
					<div class="coverimg">
					</div>
				</div>
			</div>

			<div class="flipper">
				<div id="pageone">
					<div class="mainimg">
						<h2>Turner</h2>
						<h2>Fenton</h2>
						<h2>Music</h2>
					</div>
					<div class="panel">
						<h1>{{ title }}</h1>
						<div class="info" style="left:2%; position:relative;">
							<div><strong>&nbsp;Date:</strong> {{ date | readableDate }} <br> <strong>&nbsp;Time:</strong> {{ time }} </div>
							<div><strong>&nbsp;Location:</strong> {{ location }} <br> <strong>&nbsp;Price:</strong> {{ price }}</div>
						</div>
						<div style="font-family:'Roboto Condensed', 'Bebas Neue', 'Onest', sans-serif; margin-left: 1vw; margin-top: 1vh;">
							Buy tickets on <strong><a style="cursor:pointer;pointer-events: all;" href="https://schoolcashonline.com/">SchoolCashOnline</a></strong>! Available until <strong><u>{{ saleenddate | readableDate }}</strong></u>
						</div>
						{% include "footer.njk" %}
					</div>
					<div class="divot"></div>
					
				</div>
			</div>
			<div class="rightflipper">
				<div id="pagetwo">
					<div class="mainbody">
						<div class="programmeheading">
							<p>&emsp;CONCERT PROGRAMME&emsp;</p>
						</div>
						<div class="line">
							<svg viewBox="0 0 100 2" xmlns="http://www.w3.org/2000/svg">
								<line x1="0" y1="0" x2="100" y2="0" stroke="black" stroke-width="1.5" />
								<line x1="0" y1="1.5" x2="100" y2="1.5" stroke="black" stroke-width="0.25" />
							</svg>
						</div>
						<h1><strong>About {{ title }}</strong></h1>
						<div style="height:40vh; width:80%;">
							<p> {{ parts[0] | safe }} </p>
						</div>
						<div class="line">
							<svg viewBox="0 0 100 2" xmlns="http://www.w3.org/2000/svg">
								<line x1="0" y1="0" x2="100" y2="0" stroke="black" stroke-width="1.5" />
								<line x1="0" y1="1.5" x2="100" y2="1.5" stroke="black" stroke-width="0.25" />
							</svg>
						</div>
						<h1><strong>Performances</strong></h1>
						<div class="performances">
							{{ parts[1] | safe }}
						</div>
					</div>
					<div class="divot flip"></div>
				</div>
			</div>
			<div class="flipper">
				<div id="pagethree">
					<div class="mainbody">
						<div class="programmeheading">
							<p>&emsp;CONCERT PROGRAMME&emsp;</p>
						</div>
						<div class="line">
							<svg viewBox="0 0 100 2" xmlns="http://www.w3.org/2000/svg">
								<line x1="0" y1="0" x2="100" y2="0" stroke="black" stroke-width="1.5" />
								<line x1="0" y1="1.5" x2="100" y2="1.5" stroke="black" stroke-width="0.25" />
							</svg>
						</div>
						<h1><strong>Features</strong></h1>
						<div class="features">
							{{ parts[2] | safe }}
						</div>
					</div>
					<div class="divot"></div>
				</div>
			</div>
			<div class="rightflipper">
				<div id="pagefour">
					<div class="mainbody">
						<img src="{{ 'assets/tfssmusiclogo.png' | url }}" class="final">
						<h3>TFSS Music Council Welcomes you<br>to this performance</h3>
					</div>
					<div class="divot flip"></div>
				</div>
			</div>
			
		</div>
		<div class="arrows">
			<div id="larrow">←</div>
			<div id="rarrow">→</div>
		</div>
		<script src="{{ 'assets/js/pages.js' | url }}"></script>
	</body>
</html>	
