<!DOCTYPE HTML>
<html>
	<head>
		<meta charset="UTF-8">
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
		<title>{{ title }}</title>
		<link rel="stylesheet" href="{{ '/style.css' | url }}">
		<link href="https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap" rel="stylesheet">
	</head>
	<body>
		<div id="pageone">
			<div class="mainimg">
				<h2>Turner</h2>
				<h2>Fenton</h2>
				<h2>Music</h2>
			</div>
			<div class="panel">
				{% include "footer.njk" %}
			</div>
			<div class="divot"></div>
		</div>
		<div id="pagetwo">
			<div class="mainbody">
			</div>
			<div class="divot flip"></div>
		</div>
	</body>
</html>	
