<footer>
<div style="width:100%">
	<svg viewBox="0 0 100 1" xmlns="http://www.w3.org/2000/svg">
		<line stroke-dasharray="1"  x1="0" y1="0" x2="100" y2="0" stroke="#777" stroke-width="0.5"/>
	</svg>
</div>
<div style="left:1vw; position:absolute;">
</div>
</footer>
