<footer>
	𝄞<strong style="color:#000">TFSS</strong>Music	
	<div class="blk">
		<h1>Name Name Name</h1>
		<p>Description Description Description</p>
	</div>
	<div class="blk" style="left:30vw;">
		<h1>Name Name Name</h1>
		<p>Description Description Description</p>
	</div>
</footer>
