@font-face {
        font-family: "Berlinerins";
        src: url("assets/TTBerlinerins.otf") format("opentype"), local("TT Berlinerins Trial");
}



#pageone {
	height:100vh;
	width:50%;
	display:flex;
	flex-direction:column;
}

#pagetwo {
	height:100vh;
	width:50%;
}

.mainimg {
	width:100%;
	height:70%;
	background-color:#000;
	background-image: url();
}

.panel {
	width:100%;
	height:30vh;
	background-color:#FFF;
}

.mainbody {
	width:calc(50vw - 2vh);
	height:98vh;
	margin:1vh;
	background-color:#DDD;
	position:absolute;
}

.mainbody p {
	transform: translateY(-2.5vh);
	max-height:22vh;
	margin:0;
	font-family: "Times New Roman", Times, serif;
	
	column-count: 2;
}

.mainbody img {
	transform: translateY(-1vh);
	object-fit: cover;
	width: 100%;
	height: 18vh;
}

.divot {
	background: linear-gradient(to left, rgba(0,0,0,0.3), rgba(0,0,0,0) 10%);
	position:absolute;
	top: 0;
	width: 50%;
	height: 100vh;
}

.flip {
	transform: rotate(180deg);
}

.line {
	position:relative;
	width:80%;
	height:3vh;
	margin-left:10%;
	margin-top:2vh;
}

footer {
	position: fixed;
	left: 0;
	bottom: 0;
}

html {

}

h1 {
	font-family: "Abril Fatface", serif;
	font-weight:600;
	color: #000;
	margin:0;
	text-align:center;
	width:100%;
	text-transform: uppercase;
	transform: translateY(-1.5vh);
}

h2 {
	font-size:4.5rem;
	font-family: "Bebas Neue";
	font-weight:200;
	color:#FFF;
	line-height:1rem;
	padding-left:1vw;
}


body {
	display:flex;
	overflow:hidden;
	flex-direction:row;
	margin:0;
	background-color:#fcba03;
}
